# Buswiryawan Raditya Boenyamin
# 2311102090
APP_NAME="Festival Makanan Jakobi"
APP_ENV=local
APP_KEY=base64:Tq1gbkx2vWelz4XLPchT9VDAImjqDNPPknOuZ4iD0Ag=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=jakobi_festival
DB_USERNAME=root
DB_PASSWORD=

# Ganti sesuai konfigurasi MySQL lokal Anda
